{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 96,
    "bracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "tailwindFunctions": ["cn", "clsx"]
}
