.git
.gitignore
.env
.env.*
!.env.example
!.env.production.example
node_modules
*/node_modules
vendor
*/vendor
tests
*/tests
storage/*.key
.phpunit.result.cache
*.log
*.md
backend/storage/cookies.txt
